.btn {
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: transparent;
  outline: none;
  transition: all 0.3s;

  &-sign {
    margin-right: 4rem;
    font-size: 2rem;
    font-weight: 600;
    color: $color-dark-4;

    &--active {
      color: $color-white;
      border-bottom: 0.3rem solid $color-yellow;
    }
  }

  &-secondary {
    display: inline-block;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: $color-dark;
    background-color: $color-yellow;
    transition: all 0.3s ease-in-out;
    width: 20rem;

    &:hover {
      background-color: darken($color-yellow, 8);
      letter-spacing: 0.5rem;
    }
  }

  &-tertiary {
    display: block;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    color: $color-white;
    background-color: $color-dark;
    border: 1px solid $color-yellow;
    transition: all 0.3s ease-in-out;

    cursor: pointer;
    &:hover {
      background-color: darken($color-yellow, 8);
      color: $color-dark;
    }
  }
  &-select {
    background-color: $color-yellow;
    color: $color-dark;
    font-size: 1.6rem;
    width: 12rem;

    &:hover {
      background-color: $color-dark;
      color: $color-white;
      border: 1px solid $color-yellow;
    }
  }

  }

