.btn {
  font-family: inherit;
  border: none;
  color: inherit;
  background-color: transparent;
  outline: none;

  &-sign {
    margin-right: 4rem;
    font-size: 2rem;
    font-weight: 600;
    color: $color-dark-4;

    &--active {
      color: $color-white;
    }
  }

  &-secondary {
    background-color: $color-dark-4;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }
}
