.form-sign {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  @include res-tablet {
    width: 70%;
  }

  &__label {
    font-size: 1.3rem;
    color: $color-dark-4;
    &--required {
      color: $color-yellow;
    }
  }

  &__input {
    background-color: $color-dark;
    color: $color-white;
    border: none;
    height: 3rem;
    font-family: inherit;
    font-size: 1.6rem;
    border-bottom: 2px solid $color-dark-4;
    margin-bottom: 1rem;
    transition: all 0.2s ease-out;

    &:focus {
      border-bottom: 2px solid $color-white;
      outline: none;
    }
    &::placeholder {
      color: $color-white;
      font-size: 1.6rem;
      opacity: 1;
    }
    ::-moz-placeholder {
      color: $color-white;
      opacity: 1;
    }
    &:focus::placeholder {
      opacity: 0.3;
    }
  }

  &__error {
    color: $color-red-light;
    font-size: 1.6rem;
  }
  &__sucess {
    color: green;
    font-size: 1.6rem;
  }
}

.form-select {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  @include res-desk {
    margin-left: 6rem;
  }
  &__with-button {
    display: flex;
  }
  &__box {
    width: 200px;
    overflow: hidden;
    border: 1px solid $color-yellow;
    position: relative;
    padding: 10px 0;

    &::after {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $color-yellow;
      position: absolute;
      top: 40%;
      right: 5px;
      content: "";
    }

    select {
      width: 220px;
      border: 0;
      position: relative;
      z-index: 1;
      background: none;
      color: $color-white;
      font-size: 1.6rem;
      option {
        color: $color-dark;
      }
    }
  }
}
