.navbar {
  background: $color-dark;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.navbar__logo {
  color: #fff;
  justify-self: start;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
}

.navbar__menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.navbar__links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.navbar__links:hover {
  background-color: $color-yellow;
  color: $color-dark;
  transition: all 0.2s ease-out;
}

.navbar__links-mobile {
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.navbar__links-mobile:hover {
  background-color: $color-yellow;
  color: $color-dark;
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar {
    position: relative;
  }

  .navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-top: 5rem;

  }

  .navbar__menu.active {
    display: flex;
    background: $color-dark;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
  }

  .navbar__links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }

  .navbar__logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 80%);
    cursor: pointer;
    font-size: 2.4rem;
    padding-right: 2rem;
  }
}
