.rating {
  display: flex;
  transform: rotateY(180deg);
  position: absolute;

  input {
    display: none;
  }
  label {
    cursor: pointer;
    width: 3rem;

    &::before {
      position: absolute;
      content: "\f005";
      font-family: fontAwesome;
      font-size: 3rem;
      color: $color-dark-4;
    }
    &::after {
      position: absolute;
      content: "\f005";
      font-family: fontAwesome;
      font-size: 3rem;
      color: $color-yellow;
      opacity: 0;
      transition: 0.5s;
    }
  }

  &__buttons {
    margin-top: 5rem;
  }
  &__score-paragraph {
    font-size: 2rem;
    color: $color-dark-4;
    font-weight: 700;
  }
  &__score-now {
    font-size: 2rem;
    color: $color-dark-4;
    font-weight: 700;
    color: $color-yellow;
  }
  &__score,
  &__score-2 {
    font-size: 2rem;
    font-weight: 700;
    color: $color-white;
  }
  &__score {
    font-size: 2.4rem;
    color: $color-yellow;
  }

  &__star {
    color: $color-yellow;
    font-size: 2rem;
    padding-left: 1rem;
  }
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
  opacity: 1;
}

.icon::after {
  content: "\f005";
  font-family: fontAwesome;
  color: white;
  font-size: 3rem;
  width: 3rem;
}
