.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50rem;
  align-self: center;
  padding: 2rem;
  @include res-tablet {
    width: 60%;
    margin-top: 7rem;
  }

  &__welcome {
    display: inline-block;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  &__name {
    display: inline-block;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__my-profile {
    background-color: rgba($color-white, 0.1);
    padding: 3rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    @include res-tablet {
      width: 70%;
    }

    &-label {
      color: $color-yellow;
    }
  }
}
