*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//this desfines what 1rem is
html {
  font-size: 62.5%;
}

body {
  padding: 0;
  box-sizing: border-box;
  background-color: $color-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
